[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "disprofas"]
	path = disprofas
	url = https://github.com/piusdahinden/disprofas
[submodule "expirest"]
	path = expirest
	url = https://github.com/piusdahinden/expirest
